{% extends "index.html" %}

{% block content %} 

<!--Register--> 
	<h1>Sign<span>Up</span></h1>
	<section class="todo-list">
		{% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
		<div class="col-md-6 form-col signup-form">
			<form method="POST">
				{% csrf_token %}
				{{ signup_form.as_ul }}               
				<input class="btn_sd" type="submit" value="SIGN UP">
			</form>
		</div>
	</section>

{% endblock %}