{% extends "index.html" %}

{% block content %}
    <h1>Sunny<span>Days</span></h1>
    <section class="todo-list">
        <a href="{% url 'sunshine-create' %}" class="add"> Add new day</a>
        {% if page_obj %}
        {% for sunny_day in page_obj %}
            <article>
                <a href="{% url 'sunshine-update' pk=sunny_day.id %}" class="edit"> Edit</a>
                <a href="{% url 'sunshine-delete' pk=sunny_day.id %}" class="delete">Delete</a>
                <ul>
                    <h3>{{ sunny_day.date }}</h3>
                    <li><span>Sunbeam #1  </span>{{ sunny_day.sunbeam_1 }}</li>
                    <li><span>Sunbeam #1  </span>{{ sunny_day.sunbeam_2 }}</li>
                    <li><span>Sunbeam #1  </span>{{ sunny_day.sunbeam_3 }}</li>
                </ul>
            </article>
        {% endfor %}
        {% else %}
            <p>Currently no sunny_days</p>
        {% endif %}

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </section>
{% endblock %}