{% extends "index.html" %}

{% block content %}
    <h1>Sunny<span>Days</span></h1>
    <section class="todo-list">
        {% if page_obj %}
        {% for sunny_day in page_obj %}
            <ul>
                <h3>{{ sunny_day.date }}</h3>
                <li>{{ sunny_day.sunbeam_1 }}</li>
                <li>{{ sunny_day.sunbeam_2 }}</li>
                <li>{{ sunny_day.sunbeam_3 }}</li>
            </ul>
        {% endfor %}
        {% else %}
            <p>Currently no sunny_days</p>
        {% endif %}

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </section>
{% endblock %}