{% extends "index.html" %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
    {% endif %}
  {% endif %}
  <h1>Sign<span>In</span></h1>
	<section class="todo-list">
    <div class="col-md-6 form-col">
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
            <li>{{ form.username.label_tag }} {{ form.username }}</li>
            <li>{{ form.password.label_tag }} {{ form.password }}</li>
        <input type="submit" class="btn_sd" value="SIGN IN" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
      <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </div>
  </section>
  {# Assumes you setup the password_reset view in your URLconf #}

{% endblock %}