{% extends "base_generic.html" %}

{% block content %}
    <header>
        <h1>Learning<span>Goals</span></h1>
        <h2>Keep track of your online education</h2>
    </header>
    <section class="todo-list">
        <h2>Your Goals</h2>
        <p>Current number of goals:</p>
        <p><a href="{% url 'goals' %}">View your goals</a></p>
        <ul>
            <li><strong>Goals:</strong> {{ num_goals }}</li>
        </ul>
        <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
    </section>
{% endblock %}